*{
    padding: 0;
    margin: 0;
  
}


#nav-bar-div{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    flex:20%;
    position:sticky;
    top: 0;
   
    
}
.container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}
#content{
    flex: 70%;
    display: flex;
    flex-direction: column;
}

#my-name{
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}

#nav-list{
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.my-icons{
    padding:4px;
    margin: 4px;
}

.my-links{
    text-decoration: none;
    color:white;
}

.my-nav-items{
    padding: 10px;
    margin: 10px;
}

#head-my-name{
    padding: 10px;
    margin: 20px ;
    margin-top: 60px ;
}
#home {
    position: relative; 
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}


#home::before {    
      content: "";
      background-image: url('../images/pexels-karolina-grabowska-4862891.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.9;
      z-index: -1;
}
#contact-icons-div{
    margin: 30px;
}
.contact-icons-links{
    padding: 10px;
    margin: 4px;
   
    text-decoration: none;

}

.contact-icons{
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    padding: 4px;
}

#intro{
    margin: 4px;
    padding: 4px;
    display: flex;
    /* font-family: 'MonteCarlo', cursive; */
  
    font-family: 'Gowun Batang', serif;
    font-size: 1.3rem;

}

#detais{
    display: flex;
    flex-direction: column;
    margin: 14px;
    padding: 4px;
}

.row-details{
    display: flex;
    margin: 12px;
    padding: 4px;
    flex-direction:row;
}

.detail-item{
    font-size: 1rem;
    width: 350px;
    border : 2px solid white;
    border-bottom: 2px solid #002080;
    box-shadow:3px 4px #3366ff;
    padding: 10px;
    margin: 17px;
   
}

#skills{
    /* margin:10px; */
    padding: 10px;
    height: 40vh;
    background-color: rgba(136, 148, 189);
}